/* Reset padding dan margin */
body {
    margin: 0;
    padding: 0;
}

.logo {
    width: 5rem;
}

nav {
    /* Syarat menggunakan flexbox */
    display: flex;
    justify-content: space-between;
    background-color: darksalmon;
    padding: 0.5rem;
}

nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    text-decoration: none;
    color: blanchedalmond;
}

nav ul li a:hover {
    border-bottom: 2px solid saddlebrown;
}